apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}
  namespace: {{ lab_namespace }}
  labels:
    app: {{ app_name }}
spec:
  type: ClusterIP
  selector:
    app: {{ app_name }}
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
